h1
{
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
}

#profile_pic
{
    height: 350px;
}

.social-icon
{
    height: 50px;
}

body
{
    background-image: linear-gradient(#2d388a, #00aeef);
    color: black;
}

a 
{
    text-decoration: none;
}