h1
{
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
}

h2
{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    padding-bottom: 0;
}

li {
    margin-bottom: 5px;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    text-align: center
}

#profile_pic
{
    height: 350px;
    border: solid;
    border-color: rgb(164, 224, 237);
    border-width: 5px;
}

.social-icon
{
    height: 50px;
    padding: 0px 10px; 
}

body
{
    background-image: linear-gradient(#2d388a, #00aeef);
    color: black;
}

a 
{
    text-decoration: none;
}

.container {
    /* Give the container a display of flex */
    display: flex;

    /* Set the direction to be row */
    flex-direction: column;

    /* Center the content in the middle */
    justify-content: center;    /* horizontally centered */
    align-items: center;        /* vertically centered */
}

.social_container {
    /* Give the container a display of flex */
    display: flex;

    /* Set the direction to be row */
    flex-direction: row;

    /* Center the content in the middle */
    justify-content: center;    /* horizontally centered */
    align-items: center;        /* vertically centered */
}
